.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tall{
  height: 100%;
}

body{
  background-color: whitesmoke;
}

.sticky{
position: fixed;
top: 0;
z-index: 1000;
background-color: white;

}

.spacer{
  height: 60px;
}

.red{
  border: 1pt solid red;
}


.searchDiv{
height: 100%;
 text-align: center;
padding-left: 5%;
padding-top: 8px;

}

.searchButton{
  height: 30px;
  width: 10%;
}

.searchInput{
  position: relative;
  width: 60%;
  height: 30px;
  margin-top: 10px;
  
  
}

.logoDiv{
  height: fit-content; 
  
}


.logoImg{
  width: 80%;
  height: auto;
  margin-top: 10px;
  
  
 
}

.padz{
 
  z-index: 1000;
}

.pad{
  padding-top: 30px;
}

.navItem{
  display: inline-block;
}

.bg-white{
  background-color: white;
}

.bg-gray{
  background-color: whitesmoke;
}

.nav-block{
  float: left;
  position: fixed;
  width: 240px;
  height: 500px;
  padding-top: 40px;
  text-align: left;
  padding-left: 20px;
  overflow-y: scroll;
}



.side-nav-head{
  color: gray;
  font-size: 12pt;
  margin-top: 8px;
  margin-bottom: 8px;
  display: block;
  margin-left: 50px;
}

.side-nav-head-ind{
  color: gray;
  font-size: 12pt;
  margin-top: 8px;
  margin-bottom: 8px;
  display: block;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: silver;
  border: 2px solid rgba(255, 208, 0, 0);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b300006c; 
}

.results-block-main{
  padding-top: 40px;
}

.thumbNail{
  height: 170px;
  width: 280px;
  background-color: red;
 
  float: left;
}
.resultContainer{
  padding: 10px;
  height: 190px;
  width: 100%;
  text-align: left;
}

.videoResultInfo{
  display: inline-block;
  height: 190px;
  width: 50%;
  margin-left: 20px;
  
}

.spanblock{
display: block;
}

.vid-result-title{
font-size: 18pt;
}

.vid-result-under{
font-size: 12pt;
color: gray;
}

.videoInfo{
  text-align: left;
  
}

.video-container{
padding-left: 20px;
}


